## 1. Write a Python program to calculate the length of a string

In [1]:
str="kunal"
print(len(str))

5

## Write a Python program to find out what version of Python you are using.

In [20]:
import sys
print(sys.version)

!python --version

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
Python 3.11.5

## 3. Write a Python program to display the current date and time

In [15]:
import datetime
x=datetime.datetime.now()
print(x)

2024-02-24 10:18:26.019180

In [6]:

import datetime
from datetime import datetime
current=datetime.now()
print(current)
times=current.strftime("%y-%m-%d %H-%M-%S")
print(times)
current.year
current.weekday

2024-02-27 17:58:04.038535
24-02-27 17-58-04

# Write a Python program that calculates the area of a circle based on the radius entered by the user

In [30]:
radius=int(input("enter the radius"))
aoc=3.14*radius*radius
print(aoc)

enter the radius2
12.56

# 5. Write a Python program that accepts the user's first and last name and prints them in reverse order with
<!-- a space between them. -->

In [5]:
first_name=input('enter a first name: ')
last_name=input('enter a last name: ')

reversed_name=last_name[::-1] +" "+first_name[::-1]
print(reversed_name)

enter a first name: kunal
enter a last name: wani
inaw lanuk

# 6. How many data types are there in python? Write them

In [ ]:
string
integer
float
boolean
none
set
dictionary
#tuple
list

# 7. Print the data types of given inputs

In [6]:
s='I want to become Data Scientist.'
print(type(s))
x=123
print(type(x))
y='1234'
print(type(y))
z=1.34
print(type(z))
a='hello123'
print(type(a))
l1=True
print(type(l1))
l2=False
print(type(l2))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

# 8. Write a python program to sum three numbers.

In [7]:
a=2
b=8
c=89

print(a+b+c)

99

# 19. X=890 convert the data type integer into string
Y=”125” convert the data type string into integer
Z=”My name is Sarthak”..can I convert the type of this string into integer? Try it ..and give reason why it
didn’t convert the data type?
A=235 convert the data type integer into float

In [10]:
y='125'
y=int()
print(type(y))

Z='My name is Sarthak'
z=int()
print(type(z))

A=235
A=float()
print(type(A))

<class 'int'>
<class 'int'>
<class 'float'>

In [12]:

a=float(input('give input'))
print(a)

give input2
2.0