### 1. Given the list numbers = [1, 2, 3, 4, 5], access the first elementM3

In [1]:
number=[1,2,3,4,5]
x=number[0]
print(x)

1

### 2. Create a list fruits = ["apple", "banana", "cherry", "mango", "papya"] and use indexing to accessthe third element

In [6]:
fruits=["apple", "banana", "cherry", "mango", "papya"]
x=fruits.index("apple")
# print(fruits[2])
print(x)

0

### 3. Using slicing, extract the sublist [3, 4, 5] from the list my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

In [9]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list[2:5])

[3, 4, 5]

### 4. Given the list colors = ["red", "green", "blue", "yellow", "purple"], extract the sublist ["green","blue"] using slicing.

In [11]:
 colors = ["red", "green", "blue", "yellow", "purple"]
print(colors[1:3])

['green', 'blue']

### 5. Create a list grades = [87, 92, 78, 95, 88] and modify the second element to be 90.

In [12]:
grades = [87, 92, 78, 95, 88] 
grades[1]=90
print(grades)

[87, 90, 78, 95, 88]

### 6. Using negative indexing, access the last element of the list letters = ["a", "b", "c", "d", "e"].

In [13]:
 letters = ["a", "b", "c", "d", "e"]
x=letters[-1]
print(x)

e

### 7. Given the list values = [10, 20, 30, 40, 50], use slicing to extract [20, 30, 40].

In [14]:
 values = [10, 20, 30, 40, 50]
x=values[1:4]
print(x)

[20, 30, 40]

### 8. Create a list cities = ["New York", "Los Angeles", "Chicago", "Houston", "Miami"] and replace thethird element with "Dallas".

In [30]:
cities = ["New York", "Los Angeles", "Chicago", "Houston", "Miami"]
cities.insert(2,"dallas")
print(cities)

['New York', 'Los Angeles', 'dallas', 'Chicago', 'Houston', 'Miami']

### 9. Using list slicing, reverse the list [5, 4, 3, 2, 1].

In [31]:
list= [5, 4, 3, 2, 1]
list.reverse()
print(list)

[1, 2, 3, 4, 5]

### 10. Given the list names = ["Alice", "Bob", "Charlie", "David", "Eve"], extract the sublist ["Bob",M"Charlie", "David"] using slicing

In [34]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]
x=names[1:4]
print(x)

['Bob', 'Charlie', 'David']

In [1]:
x=[1,2,3,4]
# x.append(5)
x.extend([5,6,7,8,9,10])
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
x=[1,2,3,4]
o=x.index(4)
print(o)

3

In [46]:
x=[1,2,3,4,4]
o=x.count(4)
print(o)

2