### 4. How do you create an empty tuple?

In [1]:
a=()

### 5. Explain the concept of tuple packing and unpacking.

In [1]:
credential=("kunal","password","kunalwani26@")
paas1,pass2,pass3=credential #packing
print(paas1) #unpacking

kunal

### 6. Write Python code to create a tuple containing the names of three ofyour favorite fruits.

In [2]:
fruits=("apple","grapes","banana")
print(fruits)

('apple', 'grapes', 'banana')

### 8. How can you access a specific element in a tuple?

In [3]:
a=(1,2,3,4,5)
x=a[3]
print(x)

4

### 9. Given two tuples, how would you concatenate them into a single tuple?

In [7]:
a=(1,2,3,4,5,)
b=(6,7,8,9,10)
concatinated_tuple=tuple(a+b)
print(concatinated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### 10.Write a Python code that takes a tuple of numbers as input and returnsthe sum of those numbers.

In [46]:
tup=int(input("write a tuple"))
x=sum(tup)
print(x)

write a tuple5,5

ValueError: invalid literal for int() with base 10: '5,5'

### 11.Given a tuple (name, age, city), how would you unpack it into threeseparate variables?

In [21]:
tuple1=('name', 'age', 'city')
code1,code2,code3=tuple1
print(code1)
print(code2)
print(code3)

name
age
city

### 12.Given a tuple (1, 2, 3, 4, 5), how would you slice it to get a new tuple (2,3, 4)?

In [4]:
tup=(1,2,3,4,5)
x=tup[1:4]
print(x)

(2, 3, 4)

### 13.Can you create a tuple with just one element? If so, how would you doit?

In [6]:
a=(1,)
print(a)
print(type(a))

(1,)
<class 'tuple'>

### 14.Given a tuple (3, 7, 2, 7, 1), how many times does the number 7 appear?

In [7]:
lis=(3,7,2,7,1)
x=lis.count(7)
print(x)

2

### 15.Create two tuples: one with the numbers 1 through 5 and another withthe same numbers in reverse order. Then, concatenate these tuples.

In [9]:
tup1=(1,2,3,4,5)
tup2=(5,4,3,2,1)
print("concatenated tuple is",tup1+tup2)

concatenated tuple is (1, 2, 3, 4, 5, 5, 4, 3, 2, 1)

### 16.Given a tuple (10, 20, 30, 40, 50), use slicing to extract a new tuplecontaining the second and third elements

In [10]:
slic=(10, 20, 30, 40, 50)
x=slic[1:3]
print(x)

(20, 30)

### 17.How would you get the last two elements from a tuple (5, 10, 15, 20)using slicing?

In [12]:
tup=((5, 10, 15, 20))
x=tup[2:]
print(x)

(15, 20)

### 18.Given a tuple (2, 4, 6, 8, 10), find the index of the element 6

In [13]:
we=(2,4,6,8,10)
x=we.index(6)
print(x)

2

### 19.How would you use the sorted() function to sort a tuple (5, 1, 8, 2) inascending order?

In [16]:
tup1=(5, 1, 8, 2)
x=sorted(tup1)
print(x)

[1, 2, 5, 8]

### 20.Can you modify an element within a tuple after it has been created?Why or why not?

In [17]:
# no we cant because it is hashable or ummutable

### 22.Create a tuple containing your name and age, then unpack it into twovariables.

In [19]:
tup1=('kunal',24)
age,name=tup1
print(age)
print(name)

kunal
24

### 23.Given a tuple (3.14, "apple", True), how would you unpack it into three variables?

In [23]:
tup1=(3.14, "apple", True)
floa,stri,booll=tup1
print(floa)
print(stri)
print(booll)

3.14
apple
True

### 24.List at least two advantages of using a tuple over a list in certainsituations.

In [24]:
# using it in credential condition
# memory effecient because it is hashable and does not require relocation

In [35]:
a=[1,2,5,4,3]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [38]:
a=(1,2,3,4,5)
b=sum(a)
b

15