### inbuilt functin

In [ ]:
# a=-999
# abs(a)  #covert from negative inter to positive


b="-2598673"
int(b[1:])

In [ ]:
pow(2,3)

In [ ]:
def power(a,b):
    return a**b
power(2,14)

In [ ]:
def absolute(n):
    s=str(n)
    if "-" in s:
        print(int(s[1:]))
    else:
        print(int(s))
        
absolute(-8841)

In [ ]:
def kunal():
    num=int(input("enter a number")) #-999
    formated_string=str (num)
    if formated_string[0]=="-":
        print(int(formated_string[1:]))
    else:
        print(num)
kunal()

### dir()

In [ ]:
import math
print(dir(math))

In [ ]:
math.sqrt(64)

In [ ]:
def sqrroot(a):
    return int(a**0.5)
sqrroot(64)

In [ ]:
round(999.4)

In [ ]:
round(999.5)

In [ ]:
round(999.7)

In [ ]:
int(54.8)

In [ ]:
def round_up(a):
    decimal_part=a-int(a)
    if decimal_part>=0.5:
        print(int(a)+1)
    else:
        print(int(a))
round_up(865.6)

In [ ]:
a=90
id(a)

### divmod

In [ ]:
23%14

In [ ]:
2%2

In [1]:
a=2
b=2
divmod(a,b)

(1, 0)

### ord()

In [ ]:
ord("a")
ord("A")

### help()

In [ ]:
help(print)

In [ ]:
help(math)

### sum()

In [1]:
l=[1,2,3,4,5]
sum(l)

15

In [2]:
a=10
b=10
a+b

20

In [4]:
def add():
    a=int(input("enter n1:"))
    b=int(input("enter n2:"))  
    c=a+b
    return c
add()

enter n1:10
enter n2:10

20

In [5]:
def mul():
    x=12
    y=24
    z=x*y
    return z
mul()

288

In [6]:
def square():
    num=int(input("enter a number"))
    sqr=num*num
    return sqr
square()

enter a number10

100

In [8]:
def square(x):
    y=x*x
    print(y)
square(7)

49

In [9]:
def cube():
    num=int(input("enter a number"))
    cub=num*num*num
    return cub
cube()

enter a number2

8

### with parameter and  with return

In [19]:
def cube():
    n=5 # parameter passed in a function
    c=n**3
    return c
cube()

125

In [20]:
def cube(n):
#     n=5 
    c=n**3
    return c
cube(5)

125

### Function without return and without parameter

In [21]:
def mult():
    x=13
    y=6
    z=x*y
    print(z)
mult()

78

### Function with return and without parameter

In [22]:
def mult():
    x=12
    y=4
    z=x*y
    return z
mult()

48

In [25]:
def mult():
    x=int(input("enter:"))
    y=int(input("enter:"))
    
    z=x*y
    return z
mult()

enter:5
enter:5

25

### Function without return and with parameter

In [32]:
def sum1(a,b):
    c=a+b
    print(c)
sum1(10,25)

35

In [33]:
l=[1,2,9,0,23]
max(l)

23

In [34]:
l=[1,2,9,0,23]
min(l)

0

In [38]:
def maxin():
    
    l=[34,21,56,34,23]
    max1=l[0]
    for num in l:
        if num>max1:
            max1=num
    print(max1)
maxin()

56

In [39]:
def maxin(l):
    max1=l[0]
    for num in l:
        if num>max1:
            max1=num
    print(max1)
maxin([34,21,56,34,23])

56

In [40]:
def maxin(l):
    max1=l[0]
    for num in l:
        if num>max1:
            max1=num
    print(max1)
maxin((34,21,56,34,23))

56

In [41]:
import math
math.factorial(5)

120

In [42]:
def factor(n):
    factorial=1
    for i in range(1,n+1):
        factorial=i*factorial
    return factorial
factor(5)

120

### Scope of variables

### local variable

In [45]:
def divide(e):
    b=3
    return e/b
divide(9)

3.0

In [46]:
def summation(a,b):
    c=12 #local variable
    return a+b+c
summation(9,10)

31

In [47]:
c=12    #global variable
def summation(a,b):
#     c=12 #local variable
    return a+b+c
summation(9,10)

31

In [57]:
x=89   #global
def m1():
    y=345 #local
    return y
    return y+x
m1()

345

In [55]:
x=89
def m1():
    y=345  #local
    print(y)
    print(y+x)
m1()

345
434

### global scope

In [58]:
b=45#global variable
def divide(a):

    return a/b
divide(10)

0.2222222222222222

In [59]:
print(b)

45

In [66]:
c=657  #global scope give benefits to use to use the variable in the program
def m2():
    c=657  #global scope give benefits to use to use the variable only within declared fuction
    v=90 
    print(c)
    print(v)
m2()

657
90

In [67]:
p=20
def mult(a):
    return a*p
mult(2)

40

In [68]:
a=15
def divide(b):
    div=a/b
    return div
divide(5)

3.0

In [69]:
def mult():
    x=int(input("enter:"))
    y=int(input("enter:"))
    z=x*y
    return z
mult()

enter:5
enter:5

25

In [70]:
def mult():
    global f
    f=45
    global j
    j=78
    return f*j
mult()

3510

In [71]:
print(f)

45

In [72]:
f=34
j=89
def mult():

    return f*j
mult()

3026

In [73]:
def divide():
    return f/j
divide()

0.38202247191011235

In [74]:
def arithmetic():
    global h
    h=23 #global
    y=45 #local
    return h+y
arithmetic()

68

In [75]:
h

23

In [76]:
y

NameError: name 'y' is not defined

In [77]:
def arithmatic():
    global h
    h=23
    y=12
    z=h+y
    print(z)
arithmatic()

35